@import "styles/root.css";

#download-a, #sources-a {
    display: inline-block;
    margin-top: 20px;
    padding: 6px 14px;
    border-radius: 20px;
    text-decoration: none;
    transition: .25s;
}

#download-a {
    font-size: large;
    color: var(--download-btn-color);
    border: 2px solid var(--download-btn-color);
}

#sources-a {
    font-size: large;
    color: var(--sources-btn-color);
    border: 2px solid var(--sources-btn-color);
}

#download-a:hover {
    color: var(--download-btn-color);
    background: var(--download-btn-color);
}

#sources-a:hover {
    color: var(--sources-btn-color);
    background: var(--sources-btn-color);
}
